.header {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.logo_text {
  color: #283d6d;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  font-family: Serif, sans-serif;
}

